<ion-content>
  <ion-grid>
    <ion-row>
      <img src="assets/images/login-banner.jpg" />
    </ion-row>
  </ion-grid>
  <div class="login-content">
    <h1>Location Based Tasks</h1>
    <p>
      Increase productivity and save time on the tasks assigned with real-time
      customer's location.
    </p>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col
        ><ion-button>Sign up</ion-button>
        <ion-button (click)="Signinpage()">Sign in</ion-button></ion-col
      >
    </ion-row>
  </ion-grid>
  <!-- <div class="authbutton">
    <ion-button>Sign up</ion-button>
    <ion-button>Sign in</ion-button>
  </div> -->
</ion-content>
