<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" class="map-container"></div>

  <!-- Bottom Sheet (Swipable) -->
  <div
    class="bottom-sheet"
    [ngClass]="{'expanded': isExpanded, 'collapsed': !isExpanded}"
  >
    <div class="sheet-header" (click)="toggleSheet()">
      <ion-icon name="chevron-up-outline" *ngIf="!isExpanded"></ion-icon>
      <ion-icon name="chevron-down-outline" *ngIf="isExpanded"></ion-icon>
    </div>

    <ion-content>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/img/avatar.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>You</h2>
          <p>3 min ago</p>
        </ion-label>
      </ion-item>
      <ion-button (click)="getCurrentLocation()"
        >Get Current Location</ion-button
      >
      <ion-item>
        <ion-label>Curent location : {{currentlocation}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Battery level : {{batteryLevel}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Select a user to locate</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Select a user to locate</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Select a user to locate</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Select a user to locate</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Select a user to locate</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Select a user to locate</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Select a user to locate</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Select a user to locate</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Select a user to locate</ion-label>
      </ion-item>

      <!-- Add other bottom sheet content here -->
    </ion-content>
  </div>
</ion-content>
