<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button
      tab="attendance"
      routerLink="/attendance"
      routerLinkActive="active"
    >
      <ion-icon aria-hidden="true" name="location-outline"></ion-icon>
      <ion-label>Attandance</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="track" routerLink="/track" routerLinkActive="active">
      <ion-icon aria-hidden="true" name="locate-outline"></ion-icon>
      <ion-label>Track</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tasks" routerLink="/tasks" routerLinkActive="active">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>Tasks</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="leads" routerLink="/leads" routerLinkActive="active">
      <ion-icon aria-hidden="true" name="funnel-outline"></ion-icon>
      <ion-label>Leads</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more" routerLink="/more" routerLinkActive="active">
      <ion-icon aria-hidden="true" name="menu-outline"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
